<nav class="breadcrumbs" property="breadcrumb">
	<div class="container">
		<div class="row">
			<ol>
				<li><a href="[% c.uri_for(c.controller("Allele").action_for("form")) %]">[% c.loc("home.page.name") | html %]</a></li>
				<li><a href="[% c.uri_for(c.controller("Allele").action_for("view_loci_alleles")) %]">[% c.loc("shared.view.loci.alleles.text") | html %]</a></li>
				<li><a href="[% c.uri_for(c.controller("Allele").action_for("list_loci_alleles"), prev_loci_name) %]">[% c.loc("shared.list.alleles.text") | html %]</a></li>
				<li><a class="disabled" tabindex="-1" href="#">[% c.loc("shared.add.allele.text") | html %]</a></li>
			</ol>
		</div>
	</div>
</nav>

<main role="main" property="mainContentOfPage" class="container fade in">

	<h1 id="wb-cont">[% c.loc("shared.add.allele.text") | html %]</h1>
	<div>
		<div class="pull-right">
			<div class="loader" style="display:none;"></div>
		</div>
		<form class="form-horizontal" method="post" id="add_allele_form">
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
				<br>
					<label>[% c.loc("allele.add.info.label") | html %]</label>
				</div>
			</div>

			[% form.field('loci_name_option').render %]
			[% form.field('allele_type').render %]
			[% form.field('allele_sequence').render %]

			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<label>[% c.loc("shared.optional.metadata.label") | html %]</label>
				</div>
			</div>

			[% form.field('amr_markers').render %]
			[% form.field('collection_date').render %]
			[% form.field('country').render %]
			[% form.field('patient_age').render %]
			[% form.field('patient_gender').render %]
			[% form.field('beta_lactamase').render %]
			[% form.field('isolate_classification').render %]
			[% form.field('mics_determined_by_option').render %]

			[% FOREACH name IN antimicrobial_name_list %]
				<div class="mics_div">
					[% form.field(name _ "_comparator_option").render %]
					[% field_name = name %]
					[% form.field(field_name).render %]
					<br>
				</div>
			[% END %]

			[% FOREACH name IN antimicrobial_name_list %]
				<div class="disc_div">
					[% form.field(name _ "_interpretation_option").render %]
				</div>
			[% END %]

			[% form.field('epi_data').render %]
			[% form.field('curator_comment').render %]
			[% form.field('csrf').render %]

			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button id="submit" type="submit" class="btn btn-primary">
						<span class="glyphicon glyphicon-save"></span> [% c.loc("shared.submit.text") | html %]
					</button>
					<button type="button" onclick="clearAddAlleleForm(); return false;" class="btn btn-info">[% c.loc("shared.clear.text") | html %]</button>
				</div>
			</div>
		</form>
	</div>

	<button type="button" class="btn btn-primary bkbtn" onClick="history.go(-1);return true;" ><span class="glyphicon glyphicon-arrow-left"></span> [% c.loc("shared.back.btn.text") | html %]</button>

</main>
