<nav class="breadcrumbs" property="breadcrumb">
	<div class="container">
		<div class="row">
			<ol>
				<li><a href="[% c.uri_for(c.controller("Allele").action_for("form")) %]">[% c.loc("home.page.name") | html %]</a></li>
				<li><a href="[% c.uri_for(c.controller("Allele").action_for("view_loci_alleles")) %]">[% c.loc("shared.view.loci.alleles.text") | html %]</a></li>
				<li><a href="[% c.uri_for(c.controller("Allele").action_for("list_loci_alleles"), prev_loci_name) %]">[% c.loc("shared.list.alleles.text") | html %]</a></li>
				<li><a href="[% c.uri_for(c.controller("Allele").action_for("batch_add_allele"), prev_loci_name) %]">[% c.loc("shared.batch.add.alleles.text") | html %]</a></li>
				<li><a class="disabled" tabindex="-1" href="#">[% c.loc("shared.batch.add.alleles.example.text") | html %]</a></li>
			</ol>
		</div>
	</div>
</nav>

<main role="main" property="mainContentOfPage" class="container fade in">

	<h1 id="wb-cont">[% c.loc("shared.batch.add.alleles.example.text") | html %]</h1>

	<br>

	<div style="word-wrap:break-word;">

	<br>

		<div class="panel panel-info" style="border:none !important;">

			<div class="panel-heading" style="background-color:#dce1e7; color:#000000; border:none !important;">
			<br>
			<p class="details_labels">[% c.loc("batch.add.alleles.instructions.msg") %]</p>
				<button class="btn btn-info pull-right" onclick="selectText('example-text')" style="margin-top:10px; margin-right:-15px;">[% c.loc("shared.select.text") | html %]</button>
			</div>

			  <div class="panel-body" id="example-text" style="font-size:18px; margin-top:10px;"> [% IF prev_loci_name != "penA" %]

					>[% prev_loci_name %]1 CGTCTGAAAACGGTAAGCTGACCACGGTTTTGGATGCGGTTGAATTGACACTAAACGGCAAGGAAATCAAAAATCTCGACAACTTCAGCAATGCCGCCCAACTGGTTGTCGACGGCATTATGATTCCGCTCCTGCCCACCGAAAGCGGGAACGGTCAGGTAGATAAAGGTAAAAACGGCGGAACAGCCTTTACCCGCGAATTTGTCCACACGCCGGAAAGCGATGAAAAAAACACCCAAGCCCAAACAGGCGCGGGCGGCACGCAAACCGCTTCGGGTGCGGCGGGCGTTAACGGCGGGCGGGCAGGAACAAAAACCTATGAAGTCAAAGTCTGCTGTTCCAACCTCAATTATCTGAAATACGGGTTGCTGACACGTGAAAACAACAATT
					<br>
					>[% prev_loci_name %]2 CGTCTGAAACCAGGCTGACCACGGTTTTGGATGCGGTTGAATTGACACCAAACGGCAAGGAAATCAAAGATCTCGACAACTTCAGCAACGCCGCCCAACTGGTTGTCGACGGCATTATGATTCCGCTCCTGCCCAATGATTCCGAAGGCGGGGGCAGTCTGGCAGATAAAGGTGAAAACGGCAAAACAGCCTTTATCTACGAAACAACCTACACGCCGGGAAGTGATAAAGAAGACACCCAAACAGGTATGGCGATGAATGGCGATCAAGCCGTTTCAAATACGGCAGGTAATACCAATGGCAAAACAAAAACCTATGAAGTCAAAGCCTGCTGTTCCAACCTCAATTATCTGAAATACGGAATGTTGACGCGTAAAAACAGCGAATCCG
					<br>
					>[% prev_loci_name %]3 CGTCTGAAACCGGGCTGACCACGGTTTTGGATGCGGTTGAATTGACACTAGACGGCAAGGAAATCAAAAATCTCGACAACTTCAGCGACGCTACCCGACTGGTTGTCGACGGCATTATGATTCCGCTCCTGTCCACCGAAAGCGGGAACGGTCAGGCAGATAAAGGTAAAAACGGTGGAACAGACTTTATCTACGAAACAACCTACATGCCGGAAAGCGATGAAAAAGACACCCAAACAGGTATGGCGGCGGATGGCGTGCAAACCGTTTCAAATGCGGCGGGCGGCACAAGTGGCAAAACAAAAACCTATAAAGTCCAAGTCTGCTGTTCCAACCTCAATTATCTGAAATACGGGCTGCTGACACGTGAAAACAACAATTCCGTGATGC
					<br>
					>[% prev_loci_name %]4 CGTCTGAAACCGGGCTGACCACGGTTTTGGATGCGGTTGAATTGACACTAGACGGCAAGGAAATCAAAAATCTCGACAACTTCAGCGACGCTACCCGACTGGTTGTCGACGGCATTATGATTCCGCTCCTGTCCACCGAAAGCGGGGACGGTCAGGCAGATAAAGGTAAAAACGGTGGAACAGACTTTACCTACACAACAACCTACACAACAACCTACACGCCGGAAAGTGATAAAAAAGACACCAAAGCCCAAACAGGCGCGGTCGGCATGCAAACCGCTCCGGGTGCGGCGGGCGTTAACGGCGGGCAGGCAGGAACAAAAACCTATGAAGTCGAAGCCTGCTGTTCCAACCTCAATTATCTGAAATACGGAATGTTGACACGTAAAA
					<br>
					>[% prev_loci_name %]5 CGTCTGAAACCAGGCTGACCACGGTTTTGGATGCGGTCGAGCTGGAATCGGACGGTAAGAAAGTCGAAAATCTCGACAACTTCAGCAACGCCGCCCAACTGGTTGTCGACGGCATTATGATTCCGCTCCTGCCCACCGAAAGCGGGAACGGTCAGGCAGATAAAGGTAAAAACGGCAAAACAGCCTTTATCTACGAAACAACCTACACGCCGGAAAGCGATGAAAAAGACACCCAAACAGGTATGGCGGCGAATGGCGTGCAAACCGTTTCAAATGCGGCGGGCGGCACAAGTGGCAAAACAAAAACCCATTATGAAGTCCAAGCCTGCTGTTCCAACCTCAATTATCTGAAATACGGGTTGCTGACGCGCAAAACTGCCGACAACACGA


				  [% ELSE %]


					>[% prev_loci_name %]0.001 CGTCTGAAAACGGTAAGCTGACCACGGTTTTGGATGCGGTTGAATTGACACTAAACGGCAAGGAAATCAAAAATCTCGACAACTTCAGCAATGCCGCCCAACTGGTTGTCGACGGCATTATGATTCCGCTCCTGCCCACCGAAAGCGGGAACGGTCAGGTAGATAAAGGTAAAAACGGCGGAACAGCCTTTACCCGCGAATTTGTCCACACGCCGGAAAGCGATGAAAAAAACACCCAAGCCCAAACAGGCGCGGGCGGCACGCAAACCGCTTCGGGTGCGGCGGGCGTTAACGGCGGGCGGGCAGGAACAAAAACCTATGAAGTCAAAGTCTGCTGTTCCAACCTCAATTATCTGAAATACGGGTTGCTGACACGTGAAAACAACAATT
					<br>
					>[% prev_loci_name %]1.001 CGTCTGAAACCAGGCTGACCACGGTTTTGGATGCGGTTGAATTGACACCAAACGGCAAGGAAATCAAAGATCTCGACAACTTCAGCAACGCCGCCCAACTGGTTGTCGACGGCATTATGATTCCGCTCCTGCCCAATGATTCCGAAGGCGGGGGCAGTCTGGCAGATAAAGGTGAAAACGGCAAAACAGCCTTTATCTACGAAACAACCTACACGCCGGGAAGTGATAAAGAAGACACCCAAACAGGTATGGCGATGAATGGCGATCAAGCCGTTTCAAATACGGCAGGTAATACCAATGGCAAAACAAAAACCTATGAAGTCAAAGCCTGCTGTTCCAACCTCAATTATCTGAAATACGGAATGTTGACGCGTAAAAACAGCGAATCCG
					<br>
					>[% prev_loci_name %]10.001 CGTCTGAAACCGGGCTGACCACGGTTTTGGATGCGGTTGAATTGACACTAGACGGCAAGGAAATCAAAAATCTCGACAACTTCAGCGACGCTACCCGACTGGTTGTCGACGGCATTATGATTCCGCTCCTGTCCACCGAAAGCGGGAACGGTCAGGCAGATAAAGGTAAAAACGGTGGAACAGACTTTATCTACGAAACAACCTACATGCCGGAAAGCGATGAAAAAGACACCCAAACAGGTATGGCGGCGGATGGCGTGCAAACCGTTTCAAATGCGGCGGGCGGCACAAGTGGCAAAACAAAAACCTATAAAGTCCAAGTCTGCTGTTCCAACCTCAATTATCTGAAATACGGGCTGCTGACACGTGAAAACAACAATTCCGTGATGC
					<br>
					>[% prev_loci_name %]100.001 CGTCTGAAACCGGGCTGACCACGGTTTTGGATGCGGTTGAATTGACACTAGACGGCAAGGAAATCAAAAATCTCGACAACTTCAGCGACGCTACCCGACTGGTTGTCGACGGCATTATGATTCCGCTCCTGTCCACCGAAAGCGGGGACGGTCAGGCAGATAAAGGTAAAAACGGTGGAACAGACTTTACCTACACAACAACCTACACAACAACCTACACGCCGGAAAGTGATAAAAAAGACACCAAAGCCCAAACAGGCGCGGTCGGCATGCAAACCGCTCCGGGTGCGGCGGGCGTTAACGGCGGGCAGGCAGGAACAAAAACCTATGAAGTCGAAGCCTGCTGTTCCAACCTCAATTATCTGAAATACGGAATGTTGACACGTAAAA


				  [% END %]


			  </div>

		</div>

	</div>

	<button type="button" class="btn btn-primary bkbtn" onClick="history.go(-1);return true;">
		<span class="glyphicon glyphicon-arrow-left"></span> [% c.loc("shared.back.btn.text") | html %]
	</button>

</main>
